/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

h1{
   background-color: #333;
    color: #fff;
    padding: 20px;
   
}

    
/* Image Styling */
img {
     max-width: 400%; /* Set the maximum width to 100% of its container */
    max-height: 500px; /* Set the maximum height to 300 pixels */ 
   margin: 0 auto;
    border: 2px solid black;
   } 
     
  


/* Description List Styling */
dl {
   
    padding: 10px;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 20px;
}

footer {
    background-color: #333;
    color: #fff;
     padding: 5px;
}
  

